@import './VarLogin.scss';

.container {
    width: 100%;
    margin: 0 auto;
}
.layout {
    margin: 8rem auto;
    width: 40%;
    height: 22rem;
    display: flex;
    background-color: #d8d6d642;
    box-shadow: 2px 2px 5px $shadow;
    &__text-wrapper{
        width: 55%;
        height: 22rem;
        background-color: #3c6df1;
        ul {
            list-style-type: none;
            margin-top: 35px;
            padding-left: 60px;
            li {
                padding: 10px 0;
                a {
                    text-decoration: none;
                    font-size: 15px;
                    color: #ffffff;
                }
                
            }
        }
        img {
            width: 70px;
            height: 70px;
            border-radius: 3rem;
            margin: 15px 10px 10px 60px;
        }
    }
    &__task {
        width: 100%;
        input[type=text] {
            outline: none;
            border: none;
            margin: 20px 15px 10px 35px;
            background: none;
            border-radius: 0;
            border-bottom: 1px solid rgb(150, 149, 149);
          }
          button {
              width: 55px;
              border-radius: 0.5rem;
              border: none;
              padding: 0;
              margin: 0;
              color: #ffffff;
          }
    }
}