.form-upload {
    width: 100%;
    margin-bottom: 30px;
    input[type=file] {
    width: 100%;
    margin: 0 10px;
    }
}
.photo{
    width: 50%;
    margin: -115px 10px 10px -5px;
    padding: 5px;
    img {
        z-index: 10;
        width: 70px;
        height: 70px;
        border-radius: 3rem;
    }
}

