@media all and (max-width: 1000px) {
  .layout-form{
    width: 70%;
  }
}



@media all and (max-width: 670px) {
    .layout-form{
      width: 75%;
      &__text-wrapper{
        width: 0;
        h3{
          display: none;
        }
        p {
           display: none;
        }
        button {
        display:none;
          a {
              font-size: 12px;
              color: #ffffff;
              text-align: center;
              text-decoration: none;
              text-transform: uppercase;
          }
      }
      }
      .small-text{
        color: #555454;
        margin: 10px 80px;
      }
      &__content {
        h2 {
            font-size: 20px;
            margin:40px 35px 10px 35px;
        }
      }
      input[type=email],
      input[type=password] {
        width: 170px;
      }
      input[type=submit]{
        margin-left: 25px;
      }
  }
}
    

  